<!DOCTYPE html>
<html>
<head>
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
        <title>@ViewBag.Title</title>
    </head>
    <body class="container">
        <div class="navbar navbar-inverse" role="navigation">
            <a class="navbar-brand" href="/">Music Book Movie Store</a>
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li role="presentation"><a href="@Url.Action("Index", "Catalogue")">Catalogue</a></li>
                <li role="presentation"><a href="@Url.Action("Index", "Invoice")">Invoices</a></li>
                <li role="presentation"><a href="@Url.Action("Index", "Customer")">Customers</a></li>
            </ul>
        </div>
        <div class="row panel">
            <div id="categories" class="col-xs-3">
                @Html.Action("Menu", "Nav")
            </div>
            <div class="col-xs-9">
                @RenderBody()
            </div>
        </div>
    </body>
</html>
