@using MbmStore.Models;
@model MbmStore.ViewModels.ProductsListViewModel


@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "Cart"))
{
    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
    <input type="submit" class="btn btn-sucess" value="View my cart" />
}


    <div class="row">
        <div>

            @if (Model.Products.OfType<Movie>().Count() > 0)
            {
                <h2> The movies </h2>
                foreach (Movie movie in Model.Products.OfType<Movie>().ToList())
                {
                    @Html.Partial("ProductSummaryMovie", movie)
                }
            }
        </div>
        <div>

            @if (Model.Products.OfType<Book>().Count() > 0)
            {
                <h2> The books </h2>
                foreach (Book book in Model.Products.OfType<Book>().ToList())
                {
                    @Html.Partial("ProductSummaryBook", book)
                }
            }
        </div>
        <div>

            @if (Model.Products.OfType<MusicCD>().Count() > 0)
            {
                <h2> The musicCDs </h2>
                foreach (MusicCD musicCD in Model.Products.OfType<MusicCD>().ToList())
                {
                    @Html.Partial("ProductSummaryMusicCD", musicCD)
                }
            }
        </div>
    </div>
    <div>
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x, category = Model.CurrentCategory }))
        



    </div>


